<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Loophole: Abstract Adventure</h2>
    <p><a href="https://8tbl.github.io/loophole/"><img src="images/loophole.png" 
 width="512" height="512" alt="Loophole: Abstract Adventure"></a>
    <p>Tap, lose, retry! A challenging arcade game with an abstract geometric design</p>
  </div>
  <div class="tech">
    <h2>Idle Forest</h2>
     <p><a href="https://8tbl.github.io/idleforest.html"><img src="images/idleforest.png" 
 width="512" height="512" alt="Idle Forest"></a>
    <p>Your pocket forest. Relaxing Idle game.</p>
  </div>
</div>
