<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Idle Forest</h2>
     <p><a href="https://8tbl.github.io/balance/"><img src="assets/images/icon2.png" 
 width="256" height="256" alt="Zen Symmetry"></a>
    <p>Sharpens focus, trains brain! Relaxing, zen game. Place tiles symmetrically</p>
  </div>
  <div class="tech">
    <h2>Abstract Adventure</h2>
    <p><a href="https://8tbl.github.io/loophole/"><img src="assets/images/loophole.png" 
 width="256" height="256" alt="Loophole: Abstract Adventure"></a>
    <p>Dash, lose, retry! A challenging arcade game with an abstract geometric design</p>
  </div>
  <div class="tech">
    <h2>Idle Forest</h2>
     <p><a href="https://8tbl.github.io/idleforest/"><img src="assets/images/idleforest.png" 
 width="256" height="256" alt="Idle Forest"></a>
    <p>Your pocket forest. Relaxing Idle game.</p>
  </div>
</div>
